<!DOCTYPE html>
<html lang='en'>
<head>
  <title>{{ site.title }}</title>
  <meta charset='UTF-8'>
  <meta name='robots' content='noindex, nofollow'>
  <meta name='description'
        content='{{ site.description }}'>  
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link href='/resources/css/style.css' rel='stylesheet'>
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Libre+Baskerville|Rubik|Inconsolata'>
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <h2>&mdash; {{ site. description }} &mdash;</h2>
  </header>
  <div id="content">
